@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    scroll-behavior: smooth
}
.text-field{
    @apply outline-primary  border-primary border-2 p-3 rounded-xl;
}
.profile-field{
    @apply outline-primary border-primary border-2 p-1 rounded-xl h-10 bg-slate-100 w-full
}
.icon{
    @apply absolute right-4 bottom-2
}
.inset{
    border-radius: 26px;
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #666666,
                inset -5px -5px 10px #ffffff;
}
input:disabled{
    @apply opacity-75 border-gray-900 outline-gray-900
}
label{
    @apply font-thin
}

.menu{
    @apply bg-slate-200 rounded-full p-2 pl-4 pr-4
}
.active{
    @apply bg-primary text-white
}
li{
    @apply flex justify-between gap-4 border-b-2 items-center
}
li input{
    @apply w-24
}

.clip{
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
    @apply bg-primary w-2/5 h-4/5 top-0 absolute right-0 -z-10
}
input[type=checkbox]{
    @apply w-4 h-4 mr-2
}
.fly-parent button{
    @apply p-2 text-white bg-primary rounded-3xl w-full
}